<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group6.shopping.batis.LikesDAO">
<select id="getAlllikes" resultType="LikesVO">
    select * from likes
    where mem_id = #{mem_id} 
</select>

<insert id="likeinsert">
    insert into likes(mem_id, model_id)
    values (#{mem_id}, #{model_id})
</insert>

<delete id="likedelete">
    DELETE
    FROM likes
    WHERE mem_id=#{mem_id} and model_id=#{model_id}
</delete>

</mapper>