<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group6.shopping.members.MembersDAO">
	<select id="getAllMembers" resultType="MembersVO">
		SELECT *
			FROM members
	</select>
	<select id="lookupId" resultType="String" parameterType="String">
		SELECT mem_id
			FROM members
			WHERE mem_id = #{mem_id}
	</select>
	<insert id="insertMem" parameterType="MembersVO">
		INSERT INTO members
			VALUES(#{mem_name}, #{mem_id}, #{mem_password}, #{mem_email}, #{mem_birth}, #{mem_post_code}, #{mem_address},#{mem_point})
	</insert>
</mapper>